In [57]:
import pandas as pd
import json 
from collections import ChainMap
import re

In [5]:
f = open('movies.json', encoding="utf8")

In [6]:
data = json.load(f)

In [9]:
df = pd.json_normalize(data)

In [48]:
def list2dict(a):
    re = {}
    if a == None:
        return None
    else:
        for item in a:
            re.update(item)
        return re

In [51]:
df['box_office'] = df['box_office'].apply(lambda x: list2dict(x))

In [78]:
df['Budget'] = df['box_office'].apply(lambda x: int(''.join(filter(str.isdigit,x.get('Budget')))) if x!= None and x.get('Budget') != None else None)

In [83]:
df['gross'] = df['box_office'].apply(lambda x: int(''.join(filter(str.isdigit,x.get('Gross worldwide')))) if x!= None and x.get('Gross worldwide') != None else None)

In [101]:
df.genre

0                             [Drama]
1                      [Crime, Drama]
2              [Action, Crime, Drama]
3                      [Crime, Drama]
4                      [Crime, Drama]
                    ...
245    [Animation, Action, Adventure]
246    [Animation, Adventure, Comedy]
247                           [Drama]
248       [Biography, Drama, History]
249       [Action, Adventure, Comedy]
Name: genre, Length: 250, dtype: object

In [99]:
df['actor'].apply(lambda x: len(x))

0      3
1      3
2      3
3      3
4      3
      ..
245    3
246    3
247    3
248    3
249    3
Name: actor, Length: 250, dtype: int64

In [91]:
df[['rating.ratingCount','rating.ratingValue','Budget','gross']]

     rating.ratingCount  rating.ratingValue       Budget         gross
0               2673926                 9.3   25000000.0  2.888450e+07
1               1853245                 9.2    6000000.0  2.503418e+08
2               2646908                 9.0  185000000.0  1.006234e+09
3               1268868                 9.0   13000000.0  4.796192e+07
4                789853                 9.0     350000.0  9.550000e+02
..                  ...                 ...          ...           ...
245              199876                 8.1   70000000.0  2.333582e+07
246              421566                 8.0   28000000.0  5.040502e+08
247              460652                 8.1   25000000.0  2.166391e+08
248              232793                 8.1   22000000.0  5.276789e+07
249              256554                 8.1   25000000.0  1.033844e+08

[250 rows x 4 columns]